{% extends "base.html" %}

{% block content %}
    <span>Followers</span>
    {% for follower in followers %}
        <div>
            <a href="/users/{{ follower.username }}/">{{ follower.username }}</a>
            <img src="/uploads/{{ follower.url }}">
            <span>{{ follower.is_following }}</span>
            {% if follower.is_following == "following"%}
                <form action="/following/?target=/users/{{ follower.username }}/followers/" method="post" enctype="multipart/form-data">
                    <input type="submit" name="unfollow" value="unfollow"/>
                    <input type="hidden" name="username" value="{{ follower.username }}"/>
                    <input type="hidden" name="operation" value="unfollow"/>
                </form>
            {% else %}
                <form action="/following/?target=/users/{{ follower.username }}/followers/" method="post" enctype="multipart/form-data">
                    <input type="submit" name="follow" value="follow"/>
                    <input type="hidden" name="username" value="{{ follower.username }}"/>
                    <input type="hidden" name="operation" value="follow"/>
                </form>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}