{% extends "base.html" %}

{% block content %}
    <span>Following</span>
    {% for following in following_users %}
        <div>
            <a href="/users/{{ following.username }}/">{{ following.username }}</a>
            <img src="/uploads/{{ following.url }}">
            <span>{{ following.is_following }}</span>
            {% if following.is_following == "following"%}
                <form action="/following/?target=/users/{{ following.username }}/following/" method="post" enctype="multipart/form-data">
                    <input type="submit" name="unfollow" value="unfollow"/>
                    <input type="hidden" name="username" value="{{ following.username }}"/>
                    <input type="hidden" name="operation" value="unfollow"/>
                </form>
            {% else %}
                <form action="/following/?target=/users/{{ following.username }}/following/" method="post" enctype="multipart/form-data">
                    <input type="submit" name="follow" value="follow"/>
                    <input type="hidden" name="username" value="{{ following.username }}"/>
                    <input type="hidden" name="operation" value="follow"/>
                </form>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}